.jumbotron {
  text-align: center;
}

.add-pizza {
  margin-top: 16px;
}

.final-summary {
  display:none;
}

#hide-pizza {
  display: none;
}

.pizza-show {
  display: none;
}

.method-show {
  display: none;
}

.thank-you {
  display:none;
}

.customer-info {
  display:none;
}
